@model WebServicesFigaro.Models.Pedido

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Pedido</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Usuario.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreApellidos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreApellidos)
        </dd>

        <dt>
            Zona
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zona.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NPedido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NPedido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrecioTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrecioTotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comentario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comentario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaPedido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaPedido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoCocina)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoCocina)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreChef)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreChef)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
