@model WebServicesFigaro.Models.MenuCarrito

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MenuCarrito</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Menu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Menu.Titulo)
        </dd>

        <dt>
            Usuario
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cantidad)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
