@model WebServicesFigaro.Models.Plato

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Plato</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TipoCocina.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoCocina.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Imagen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Imagen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TiempoCocinado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TiempoCocinado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoPlato)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoPlato)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Valoracion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Valoracion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categoria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ingredientes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ingredientes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Utensilios)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Utensilios)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
