@model IEnumerable<WebServicesFigaro.Models.MenuPedido>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Pedido.NPedido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TituloMenu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrecioMenu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Entrante)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Primero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Segundo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Guarnicion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Postre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TiempoCocinado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ingredientes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Utensilios)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Pedido.NPedido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TituloMenu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrecioMenu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Entrante)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Primero)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Segundo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Guarnicion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Postre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TiempoCocinado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ingredientes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Utensilios)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
