@model WebServicesFigaro.Models.Menu

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Menu</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Imagen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Imagen)
            @if (Model.Imagen != null)
            {
                <img src="@Url.Content(Model.Imagen)" alt="Imagen Plato" style="width:400px" />
            }
        </dd>

        <dt>
            Entrante@*@Html.DisplayNameFor(model => model.Entrante.Titulo)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Entrante.Titulo)
        </dd>

        <dt>
            Primero@*@Html.DisplayNameFor(model => model.Primero.Titulo)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Primero.Titulo)
        </dd>

        <dt>
            Segundo@*@Html.DisplayNameFor(model => model.Segundo.Titulo)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Segundo.Titulo)
        </dd>

        <dt>
            Guarnición@*@Html.DisplayNameFor(model => model.Guarnicion.Titulo)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Guarnicion.Titulo)
        </dd>

        <dt>
            Postre@*@Html.DisplayNameFor(model => model.Postre.Titulo)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Postre.Titulo)
        </dd>

        <dt>
            Tipo Cocina@*@Html.DisplayNameFor(model => model.TipoCocina.Titulo)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoCocina.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TiempoCocinado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TiempoCocinado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Valoracion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Valoracion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categoria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ingredientes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ingredientes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Utensilios)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Utensilios)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
