@model WebServicesFigaro.Models.PlatoPedido

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PlatoPedido</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Pedido.NPedido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pedido.NPedido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TituloPlato)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TituloPlato)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrecioPlato)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrecioPlato)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TiempoCocinado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TiempoCocinado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ingredientes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ingredientes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Utensilios)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Utensilios)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
