@model WebServicesFigaro.Models.ComentarioChef

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ComentarioChef</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Chef.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Chef.Nombre)
            @Html.DisplayFor(model => model.Chef.Apellidos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Valoracion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Valoracion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "IndexChef", new { id = Model.ChefId })
</p>
